* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*------- Editor ---------*/
body, html {
  width: 100%;
  height: 100%;
}

/* h2{ */
  /* color:#fff; */
  /* margin-bottom: 20px;
} */

img{
  max-width:100%;
  max-height:100%;
}

.header{
  display: flex;
  background:#005796;
  height:70px;
  /* padding:10px 20px 0; */
  padding: 5px 20px;
  height: 7vh;
}

.App{
  min-height: 86vh;
  height:86vh;
  background: linear-gradient(180deg, rgba(0,87,150,1) 0%, rgba(8,122,204,1) 52%, rgba(76,164,240,1) 100%);
}

.container {
  display: flex;
  /* border: 10px solid #000; */
  /* border-bottom: none; */
  /* border-image-source: linear-gradient(180deg, rgba(0,87,150,1) 0%, rgba(8,122,204,1) 72%, rgba(111,185,234,1) 100%); */
  /* border-image-source: linear-gradient(180deg, rgba(0,87,150,1) 0%, rgba(8,122,204,1) 72%, rgba(76,164,240,1) 100%); 
  border-image-slice: 1; */
  background: #fff;
  height: 85vh;
  margin: 0 10px;
}

.editor {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  /* background: #F3F3F3; */
}

.control{
  background: #fff;
  flex:1;
  padding:20px 20px 10px;
  max-height: 100%;
  overflow: auto;
  /* border-left: 2px solid #eee */
}

.dname, .dselect{
  width: 345px;
  padding: 10px;
  margin: 10px;
  display: block;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
}
.dname:disabled {
  /* color: #fff; */
  cursor: not-allowed;
}
.dname:focus-visible, .dselect:focus-visible{
  outline: none;
}


svg {
  width: 950px;
  height: 775px;
  /* border: 1px solid #eee; */
  background: url(../images/Floor07\ Horizontal.png) 100%;
  background-size: cover;
  /* position: relative; */
  /* border-radius:5px; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  /* background-color: #fff; */
}
.grid {
  fill: none;
  stroke: #eee;
  stroke-width: 1px;
}
.path {
  fill: none;
  stroke: #555;
  stroke-width: 4px;
  stroke-linecap: round;
}
.point {
  transition: fill 0.2s;
}

.source, .destination, .proceed {
  padding: 10px;
  margin: 7px;
  color: #fff;
  background: #005796;
  border: 2px solid #005796;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.single-destination{
  padding: 10px 10px;
  background-color: transparent;
  color:#444;
  border:1px solid transparent;
  transition: .4s;
}
.single-destination:hover {
  background: #C6E8F5;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dremove{
  padding: 10px;
  margin: 7px 7px 40px;
  color: #fff;
  background: #BA0001;
  border: 1px solid #BA0001;
  /* border-radius: 2px; */
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.proceed{
  background: #0A6121;
  color:#fff;
  border: 2px solid #0A6121;
  margin-top:20px;
}

button:disabled {
  background: #f5f5f5;
  color: #c4c4c4;
  border: 2px solid #f5f5f5;
  cursor: not-allowed;
}

/*------- View ---------*/

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
}

p {
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.node-label,
.node-labelMob {
  padding: 10px;
  text-transform: uppercase;
  line-height: 1em;
  white-space: pre;
  float: left;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.node-labelMob {
  padding: 4px;
  font-size: 7.5px;
  color: #000;
}

.node-value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 9px;
  margin-top: 1px;
}

.flrRect {
  fill: #fff;
  stroke: #0060a9;
  stroke-width: 1.5px;
}

.flrBlurb {
  fill: #0060a9;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  text-anchor: end;
}

.flrPar {
  color: #0060a9;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: right;
}

.d3-tip {
  padding: 15px 15px 5px 15px;
  background: #fff;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #0060a9;
  box-shadow: 3px 3px 2px #999;
  -webkit-box-shadow: 3px 3px 2px #999;
  -moz-box-shadow: 3px 3px 2px #999;
  font-size: 1em;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  fill: #0060a9;
  color: #0060a9;
  text-align: left;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #fff;
  content: "\25BC";
  position: absolute;
  text-align: center;
  transition: width 2s;
  transition-timing-function: linear;
  -webkit-transition: width 2s;
  -webkit-transition-timing-function: linear;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  transition: width 2s;
  transition-timing-function: linear;
  -webkit-transition: width 2s;
  -webkit-transition-timing-function: linear;
}

ul {
  display: flex;
  justify-content: center;
  margin-top:20px;
}

li {
  list-style: none;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  background: #007bff;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

li.active {
  background: #0062cc;
}

#shortRoute{
    display: flex;
    /* justify-content: center; */
    background: #fff;
    margin-top: 50px;
    /* position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0; */
}

#otherRoute{
  margin-bottom:30px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main-point {
  -webkit-animation: ripple 0.7s linear infinite;
  animation: ripple 0.7s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}



.footer{
    display: flex;
    background: #0060a9;
    color:#fff;
    height: 7vh;
}

.main-link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  flex: 1;
  /* border-left: 1px solid #4CA4F0; */
  border-left: 1px solid #1A72B5;
  border-right: 1px solid  #1A72B5;
  text-align: center;
}

.view-control-middle, .control-upper{
  height: 570px;
  overflow-y:scroll;
}

.view-control-middle{
  margin-bottom: 40px;
}
.view-control-middle h2 {
  padding: 20px 0px 10px 10px;
}

.view-tool{
  display: flex;
  padding: 0px;
  border: 3px solid #0060A9;
  border-radius: 50px;
}

.view-tool-link {
  flex: 1;
  text-align: center;
  padding: 10px 15px;
  font-weight: 600;
  background: transparent;
  border: none;
  cursor: pointer;
}

.view-tool-link:first-child {
  border-radius: 50px 0 0 50px;
  margin-left: -2px;
}

.view-tool-link:last-child {
  border-radius: 0 50px 50px 0;
  margin-right: -2px;
}

.view-tool-link.active{
  background: #0060A9;
  color: #fff;
}

.main-link:hover {
  /* background: linear-gradient(0deg, rgba(0,87,150,1) 20%, rgba(76,164,240,1) 90%); */
  background: #4BA3EF;
  border-left: 1px solid  #1A72B5;
  border-right: 1px solid  #1A72B5;
}


.pulse {
  position: relative;
  border: 0;
  height: 16px;
  width: 16px;
  background: rgba(var(--R), var(--G), var(--B), 0.6);
  border-radius: 50%;
  cursor: pointer;
}

.pulse:hover, .pulse:focus {
  -webkit-animation-duration: 3s !important;
          animation-duration: 3s !important;
}
.pulse::before {
  content: "";
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
}
.pulse::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* button.pulse.smoky {
  top: 40px;
  left: 20px;
} */
.request-loader {
  top: 49px;
  left: 20px;
}

.pulse.smoky {
  --R: 187;
  --G: 49;
  --B: 65;
  background: rgba(var(--R), var(--G), var(--B), 1);
  -webkit-animation: simple-smoky-pulse 1.5s linear infinite;
          animation: simple-smoky-pulse 1.5s linear infinite;
}

@-webkit-keyframes sas {
  0% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0.7), 0 0 0px 0px transparent, 0 0 0px 0px rgba(var(--R), var(--G), var(--B), 0.7);
  }
  /* 10% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0.7), 0 0 12px 10px transparent, 0 0 12px 14px rgba(var(--R), var(--G), var(--B), 0.7);
  } */
  100% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(var(--R), var(--G), var(--B), 0);
  }
}
@keyframes sas {
  0% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0.7), 0 0 0px 0px transparent, 0 0 0px 0px rgba(var(--R), var(--G), var(--B), 0.7);
  }
  /* 10% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0.7), 0 0 12px 10px transparent, 0 0 12px 14px rgba(var(--R), var(--G), var(--B), 0.7);
  } */
  100% {
    box-shadow: 0 0 8px 6px rgba(var(--R), var(--G), var(--B), 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(var(--R), var(--G), var(--B), 0);
  }
}

.request-loader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 #ba000075;
}
.request-loader button {
  position: relative;
  /* font-size: 72px;
  top: 5px;
  left: -5px; */
}
.request-loader::after {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid #ba000075;
  border-radius: 100%;
  -webkit-animation-name: ripple1;
          animation-name: ripple1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}
.request-loader::before {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: "";
  height: 100%;
  width: 100%;
  border: 8px solid #ba000075;
  border-radius: 100%;
  -webkit-animation-name: ripple1;
          animation-name: ripple1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@-webkit-keyframes ripple1 {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple1 {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


/* .ripple{background-color:#ff414d;display:inline-block;width:35px;height:35px;border-radius:50%;margin:0 50px;position:relative}
.ripple::before{animation-delay:0.2s;content:"";position:absolute;width:100%;height:100%;background-color:inherit;border-radius:50%;z-index:-1;animation:ripple 1.5s ease-out infinite}



@keyframes ripple{
  from{opacity:1;transform:scale(0)}
  to{opacity:0;transform:scale(3)}
} */